* {
    font-family: Century Gothic;
}

h1 {
    letter-spacing: calc(2.05vw - 1vw/10);
    display: inline-block;
}

h2, h3, h4, h5, h6 {
    letter-spacing: 0.89vw;
}

h1 + p {
    font-weight: lighter;
    letter-spacing: calc(.99vw - 1vw/10);
}

a {
    color: grey;
    text-decoration: none;
}

header > a {
    background: white;
    color: grey;
    text-decoration: none;
    letter-spacing: calc(.325vw - 1vw/10);
}

header > a:not(:last-child) {
    margin-right: 13.5px;
}

header {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

main {
    position: relative;
    max-width: 70%;
    margin: auto;
    margin-top: calc(470px - 15vw);
    box-shadow: 0px 15px 10px -15px #000;
}

footer {
    margin: 30px auto 30px auto;
}

main > p {
    text-align: justify;
    text-justify: inter-word;
}

.datos {
    max-width: 70%;
}

div.header-rectangle{
    position: fixed;
    background-color: #404041;
    height: 77px;
    width: calc(100% - (70px*10 + 1.95vw*10));
    top: 30px;
    right: 0;
    z-index: 11;
}

header > h1, header > p, header > a:first-of-type {
    margin-left: 30px;
}

.Pasatiempos {
    width: 100%;
}

.Pasatiempos::after {
    content: "";
    display: table;
    clear: both;
}

.Pasatiempos > div {
    aspect-ratio : 3 / 1;
    width: 25%;
    float: left;
}

.Pasatiempos > div > img {
    width: 30%;
    height: 70%; 
    object-fit: contain;
    margin: 15% auto 15% auto;
    display: block;
}

@media only screen and (max-width: 1024px){
    .Pasatiempos > div {
        width: 33.333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333%;
    }
    header > a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 420px){
    .Pasatiempos > div {
        width: 50%;
    }
    header > a {
        font-size: 10px;
    }
}