@use 'variables';

div.header-rectangle{
    position: fixed;
    background-color: variables.$greyish;
    height: 77px;
    width: calc(100% - (70px*10 + 1.95vw*10));
    top: 30px;
    right: 0;
    z-index: 11;
}

.Pasatiempos {
    width: 100%;
}

.Pasatiempos::after {
    content: "";
    display: table;
    clear: both;
}

.Pasatiempos > div {
    aspect-ratio : 3 / 1;
    width: 25%;
    float: left;
}

.Pasatiempos > div > img {
    width: 30%;
    height: 70%; 
    object-fit: contain;
    margin: 15% auto 15% auto;
    display: block;
}